body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

.hidden {
  display: hidden;
}

.champion-img-icon {
  width: 100px;
  height: 100px;
}

.champion-icon {
  border: 1px solid #444444;
  padding: 5px;
  background-color: black;
  color: white;
}

.champion-icon:hover {
  background-color: #51b2e8;
  color: black;
}

.champion-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

table * {
  border: 1px solid black;
  padding: 5px;
}

table {
  margin: 5px; 
}

.spells-table tr td:last-of-type {
  width: 300px;
}

.search-section {
  width: 50%;
}

.hidden {
  display: none;
}

#app {
  display: flex;
}
.flexbox {
  display: flex;
}
