.search {
  text-align: center;
  margin: auto;
  width: 70%;

  > * {
    margin: 5px 0;
  }

  input {
    width: 250px;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    padding: 5px;
  }
}


.champion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
