.search {
  text-align: center;
  margin: auto;
  width: 70%;

  > * {
    margin: 5px 0;
  }

  input {
    width: 250px;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    padding: 5px;
  }
}

.champion-icon {
  border: 1px solid #444444;
  padding: 8px;
  margin: 8px;
  background-color: black;
  color: white;
  width: 100px;

  &:hover {
    cursor: pointer;
    background-color: #51b2e8;
    color: black;
  }

  img {
    width: 100%;
  }

  .champion-name {
    word-wrap: break-word;
    font-size: 14px;
  }

}


.champion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
