body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

.hidden {
  display: hidden;
}

table tr,td {
  border: 1px solid black;
  padding: 5px;
}

table {
  margin: 5px;
}

.spells-table tr td:last-of-type {
  width: 300px;
}

.hidden {
  display: none;
}

.search-section {
  width: 50%;
}

#body {
  display: flex;
}