html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }

a:hover {
  cursor: pointer; }

body {
  background: gray; }

header nav {
  margin: 5px 0; }
  header nav ul {
    display: flex;
    justify-content: center; }
    header nav ul li {
      margin: 5px; }

.search {
  text-align: center;
  margin: auto;
  width: 70%; }
  .search > * {
    margin: 5px 0; }
  .search input {
    width: 250px;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    padding: 5px; }

.champion-icon {
  border: 1px solid #444444;
  padding: 8px;
  margin: 8px;
  background-color: black;
  color: white;
  width: 100px; }
  .champion-icon:hover {
    cursor: pointer;
    background-color: #51b2e8;
    color: black; }
  .champion-icon img {
    width: 100%; }
  .champion-icon .champion-name {
    word-wrap: break-word;
    font-size: 14px; }

.champion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 24px; }

.hidden {
  display: hidden; }

table tr, td {
  border: 1px solid black;
  padding: 5px; }

table {
  margin: 5px; }

.spells-table tr td:last-of-type {
  width: 300px; }

.hidden {
  display: none; }

#body {
  display: flex; }
